@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


.contenedor{
    margin-top: 75px;
}
.izquierda{
}
.izquierda .panel-heading{
    padding: 0px !important;    
}
.izquierda .panel-body{
    padding: 0px !important;    
        border-top: 1px solid gray;
}
.izquierda .panel-body > button{
    width: 100% !important;
    background-color: white;
    border: none;
    margin: 10px 0px;
    text-align: left;

}

.boton-izquierda{
width: 100% !important;
}